@media only screen and (max-width: 320px){
    :root{
        --primary: #9D9D9D;
        --secondary: #79B4B7;
        --accent-one: #F8F0DF;
        --accent-two: #FEFBF3;
    }
    body, .signup-pane, .signup-form{
        display: grid;
        justify-items: center;
        align-items: center;
    }
    body{
        background-color: var(--primary);
    }

    .signup-pane{
        width: 80vw;
        height: 80vh;
        background-color: var(--secondary);
        box-shadow: 0 4px 8px 0  grey;
        grid-template-rows: 40% 57% 3%;
        border-radius: 5px;
    }

    .signup-form{
        grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    }

    .signup-mail-input, .signup-key, .first, .last{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 80%;
    }

    #firstName, #lastName, .auth, .confirm-auth, .signup-mail-input{
        height: 90%;
    }

    #firstName, #lastName{
        width: 100%;
    }

    .input-icon{
        background-color: var(--primary);
    }

    .auth, .confirm-auth, #signUpMailAdd{
        width: 90%;
    }
    
    #signUpMailAdd{
        height: 75%;
    }

    #signUpMailAdd:focus, .auth:focus, .confirm-auth:focus, #lastName:focus, #firstName:focus{
        outline: .1rem solid var(--accent-two);
    }
    #signUpMailAdd, .auth, .confirm-auth, #lastName, #firstName{
        padding-left: 5px;
    }

    #login-btn{
        text-shadow: 1px 1px 1px #000;
    }

}